{% extends "home/base_generic.html" %}
{% block content_block %}
<div class="container my-5">
    <h2>Write a Comment for {{ model_type|title }}: {{ parent_object }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Submit Comment</button>
    </form>
    <a href="{% if model_type == 'question' %}{% url 'question_detail' parent_object.slug %}{% else %}{% url 'question_detail' parent_object.question.slug %}{% endif %}" class="btn btn-secondary mt-3">Back to Question</a>
</div>
{% endblock %}
